@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine_Bold.ttf') format('truetype');
}


html {
    font-size: 16px;
    height:  100%;
    margin: 0;
    padding: 0;
    width:  100%;
}


/* Websafe fonts */
/* ***********************************************
font-family: Tahoma, Geneva, sans-serif;
font-family: "Times New Roman", Times, serif;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-family: Verdana, Geneva, sans-serif;
**************************************************/

body {
    background: #3D3DCC;
    font-family: Verdana, Geneva, sans-serif;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

h1 {
    color:  #A2FBF8;
    font-family: 'Tangerine', serif;
    font-size: 7rem;
    font-weight:  bold;
    letter-spacing: 0.05em;
    margin: 30px 0 15px -5%;
    padding: 0;
    text-shadow: 2px 2px 6px #F00;
    text-align: center;
}

header, section.main {
    margin: 0 auto;
    padding: 0;
    width: 96%;
}

#magic-8 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#magic-8-ball {
    margin: 0;
    object-fit: cover;
    padding: 0;
    width: auto;
}

#question {
    text-align: center;
}

#questionText {
    font-size:  1.5em;
    line-height:  1.5em;
    margin: 1em auto;
    max-width: 50%;
    padding:  10px;
}

/* #magic-8:hover {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
} */

@media (max-width: 720px) {
    html{
        font-size: 10px;
    }

    #magic-8 {
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 6em;
    }
}